@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background: white;
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
}

#logo {
	font-size: 1.5em;
	font-weight: 500;
	margin:10px 0 0 150px;
	flex: 1;
}

.intro {
	display: flex;
	margin-top: 5px;
}

.top-nav ul li {
	list-style: none;
	display: inline;
	padding-left: 25px;
}

.top-nav {
	flex: 2;
	text-align: right;
	margin-right: 150px;
}

.top-nav ul li a {
	text-decoration: none;
	color: rgb(0 0 0);

}

.top-nav ul li a:hover {
	border-bottom: 1px solid black;
	font-wight: 600;
}

.mid-bg img {
	margin-top: 10px;
	max-width: 100%;
	width: auto;
	margin-bottom: 0px;
}

.author-desc {
	background-color: rgb(242, 242, 242);
	margin: 0px 130px 0 130px;
}

.author-desc h2 {
	margin-top: 0;
	text-align: center;
	padding: 18px 0 18px 0;
} 

.artist {
	display: flex;
}

.artist_image img {
	width: 300px;
	height: 180px;
	box-shadow: 3px 3px rgb(136, 136, 134);
}
.artist_image {
	padding: 0 50px 50px 50px;
}