@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
}

body {
	background: white;
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
}

.intro {
	display: flex;
	margin-top: 5px;
}

#logo {
	font-size: 2em;
	font-weight: 500;
	margin:0 0 0 12%;
	flex: 1;
	vertical-align: middle;
}

.top-nav {
	flex: 2;
	text-align: right;
	margin:10px 14% 0 0;
	display: inline-block;
	
}

.top-nav ul li {
	list-style: none;
	display: inline;
	padding-left: 25px;
}

.top-nav ul li a {
	text-decoration: none;
	color: rgb(0 0 0);

}

.top-nav ul li a:hover {
	border-bottom: 1px solid black;
	font-wight: 600;
}

.mid-bg img {
	margin-top: 15px;
	max-width: 100%;
	width: auto;
	margin-bottom: 0px;
}

.mid-sections , .gallery, .contact, .map{
	background-color: rgb(242, 242, 242);
	margin: 0px 130px 0 130px;
}

.about-me {
	margin-top: 0;
	text-align: center;
	padding: 18px 0 18px 0;
} 

.artist {
	display: flex;
}

.artist_image img {
	width: 300px;
	height: 180px;
	box-shadow: 3px 3px rgb(136, 136, 134);
}
.artist_image {
	padding: 0 50px 50px 50px;
}

.gallery {
	margin: 30px 130px 0 130px;
	padding-bottom: 15px;
}

.gallery-intro {
	text-align: center;
	font-size: 1.2em;
	padding: 15px 0 15px 0;
	font-weight: 500;
	margin-bottom: 5px;
}

.main-gallery {
	display: flex;
	flex-wrap: wrap;

	

}

.main-gallery>div{
	max-width: 420px;
		
}

.main-gallery img {
	width: auto;
	height: 350px;
	margin: 0 0 42px 52px;
	box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);

}
.gallery-link h2 {
	text-align: center;

}

.contact {
	margin: 30px 130px 0 130px;
	display: flex;
}

.contact-info {
	margin: 25px 0px 25px 30px;
	flex: 1;
}
.contact-info p {
	letter-spacing: 2px;
	line-height: 20px;
}

.contact-info h3 {
	line-height: 40px;
}
.email-info {
	margin: 50px 50px 40px 0px;
	flex: 1;
}

form label {
	font-weight:  600;
	padding-right: 10px;
	background: white;
	line-height: 30px;
}
form {
	background: white;
	padding: 30px;
}
 form input {
 	margin: 0px;
 	border: none;
 	border-bottom: 1px solid black;
 }

form button {
	padding: 5px;
	border-radius: 2px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 550;
}

footer p {
	font-weight: 550;
	text-align: center;
	padding: 20px 0 20px 0;
}